{
    "env": {
        "jest": true,
        "jest/globals": true,
        "es2021": true,
        "node": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "ignorePatterns": ["*.js.mustache", "*.test.mustache"],
    "rules": {}
}
