import Api from '../lib/Api.js'

class {{class}} extends Api {
    static METHOD = '{{method}}'
    static ENDPOINT = '/{{endpoint}}'
    static DESC = '{{class}} ...'
    static INPUT = {}
    static OUTPUT = {}
}

export default {{class}}
