import _ from 'lodash'
import { {{class}} } from '../../index.js'

beforeAll(() => {
    return MEMO.req(new {{class}}())
        .call()
        .then(({{endpoint}}) => {
            MEMO.set({{endpoint}})
        })
        .catch(({ payload }) => {
            console.log(payload)
        })
})

test('output match', () => {
    expect({{class}}.outputMatch(MEMO.get())).toBeTruthy()
})

afterAll(() => {
    MEMO.save()
})
