import _ from 'lodash'
import { {{class}} } from '../../index.js'

beforeAll(() => {
    return MEMO.writable(new {{class}}())
        .call()
        .then((output) => {
            MEMO.set(output)
        })
        .catch(({ message, payload }) => {
            console.log(message, payload)
        })
})

test('output match', () => {
    expect({{class}}.outputMatch(MEMO.get())).toBeTruthy()
})

afterAll(() => {
    MEMO.save()
})
